<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
        <ion-back-button text="Back" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">SNEAKER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src={{img.url}} />
      <ion-card-title>{{nombre}}</ion-card-title><br />
      <ion-card-subtitle>Brand: {{marca}}</ion-card-subtitle><br />
      <ion-card-subtitle>Model: {{modelo}}</ion-card-subtitle><br />
    </ion-card-header>
  </ion-card>

</ion-content>