<ion-header>
  <ion-toolbar color="primary">
    <ion-title>PROFILE OPTIONS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src={{imagen_url}} alt="usuario" />
    <ion-card-title>{{nombre_usuario}}</ion-card-title>
    <ion-card-subtitle>{{mail_usuario}}</ion-card-subtitle>
  </ion-card>

  <ion-card class="carta">
      <ion-row>
        <ion-col>
          <ion-button id="login" (click)="editpassword()" color="primary" expand="block">Reset Password</ion-button>
          <ion-button id="login" (click)="edituser()" color="primary" expand="block">Edit User</ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="login" expand="block" color="primary" (click)="editmail()">Edit email</ion-button>
          <ion-button id="login" expand="block" color="danger" (click)="deleteuser()">Delete User</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="OnClickImg()" color="primary" expand="block">Edit user photo</ion-button>
          <ion-button (click)="resetPassword()" color="primary" expand="block">Forgot your password?</ion-button>
        </ion-col>
      </ion-row>

      
    
    
    
 
      <ion-button (click)="logout()" color="danger" expand="block">Log out</ion-button>
    
  </ion-card>
</ion-content>
