
  img {
      width: 60%;
      height: 100%;
      z-index: 1000;
      display: block;
      margin: 0 auto;
      margin-top: 30px;
      border-radius: 20px;

  }
  
  .carta {
    margin-top: 10%;
  }

  ion-card-title{
      text-align: center;
      margin-top: 20px;
      padding-bottom: 20px;
  }

  ion-card-subtitle{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}
  