<ion-header>
  <ion-toolbar color="primary">
    <ion-title>SNEAKER</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of usuarios">
      <ion-item-options side="end">
        <ion-item-option color="success">
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    <ion-item (click)="mostrar_perfil(item)">
      <ion-thumbnail slot="start">
        <img src="../../assets/monigote_usuario.png">
      </ion-thumbnail>
      <ion-label>
        <h2>{{item.user}}</h2>
        <h3>{{item.mail}}</h3>

      </ion-label>
    </ion-item>
  </ion-item-sliding>
  </ion-list>
</ion-content>
