<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs-main" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">WARDROBE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    WARDROBE SNEAKERS
  </ion-list-header>
  <ion-list>   
    <ion-item-sliding *ngFor="let item of sneaker">
      <ion-item (click)="ampliar_sneaker(item)" >
        <img slot="start" *ngIf="item.img_sneaker.url!=''" src={{item.img_sneaker.url}} >
        <img slot="start" *ngIf="item.img_sneaker.url==''" src="../../assets/logo_sneakers.png">
        <ion-label>
          <h2>{{item.nombre}}</h2>
          <h3>{{item.marca}}</h3>
          <p>{{item.modelo}}</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
</ion-list>

</ion-content>
