<ion-tabs >

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="tab1">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>LOGIN</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>REGISTER</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
