<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
  
    <ion-card-header>
      <ion-card-subtitle>SOCIAL MEDIA SNEAKERS APP</ion-card-subtitle>
      <ion-card-title>SNKRS</ion-card-title>
    </ion-card-header>
    <img src="../../assets/logo_sneakers.png">
    <ion-card-content>
     <h1>
       Welcome to SNKRS App
     </h1>
      The ideal place to find the best sneakers of the market in only one application.
    </ion-card-content>
  </ion-card>
</ion-content>
 

