<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button text="Back" defaultHref=""></ion-back-button>
  </ion-buttons>
    <ion-title>PHOTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{caption}}</ion-card-title><br />
      <img src={{img.url}} />
    </ion-card-header>
    <ion-button id="edit" expand="block" color="primary" (click)="editpiedefoto()">Edit</ion-button>
    <ion-button id="delete" expand="block" color="danger" (click)="deletephoto()">Delete</ion-button>
  </ion-card>
</ion-content>
