<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="../../assets/logo_sneakers.png" alt="logo_sneakers" />
  </ion-card>

<ion-card class="carta">
  <ion-item lines="full">
    <ion-input width="200px" [(ngModel)]="textUsername" (keyup)="email()" type="email" placeholder="Email"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-input [(ngModel)]="textPassword" (keyup)="password()" [type]="passwordTypeInput"  placeholder="Password"></ion-input>
    <ion-avatar><img id="imagen" src="../../assets/icon/eye_icon.png" (click)="togglepassword()"></ion-avatar>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button id="login" (click)="boton()" color="primary" expand="block">Login</ion-button>
    </ion-col>
    <ion-col>
      <ion-button id="login" expand="block" color="primary" (click)="llamar_login()">Login with<ion-icon id="logoface" name="logo-facebook"></ion-icon></ion-button>
    </ion-col>
  </ion-row>
  <p (click)="resetPassword()">Forgot your password?</p>
</ion-card>
  
</ion-content>

  

