ion-content ion-toolbar {
  --background: translucent;
}

input {
  text-justify: auto;
}

p.message {
  color: red;
}

img {
  padding-top: 15%;
  padding-bottom: 15%;
  display: block;
  margin: 0 auto;
}

ion-avatar {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

#login {
  margin-top: 20px;
}

.carta {
  margin-top: 25%;
}

