ion-content ion-toolbar {
  --background: translucent;
}

.img {
  width: 200px;
  height: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  text-align: left;
  color: gray;
}

 .carta {
  margin-top: 40%;
}
