<ion-header>
  <ion-toolbar color="primary">
    <ion-title>REGISTER</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card class="carta">
  <ion-item lines="full">
    <h2>User Image</h2>
    <ion-thumbnail (click)="OnClickImg()" class="img">
      <img  *ngIf="image.url==''" src="../../assets/logo_sneakers.png">
      <img  *ngIf="image.url!=''" src={{image.url}}>
    </ion-thumbnail>
  </ion-item>

    <ion-item lines="full">
      <ion-input [(ngModel)]="textEmail" id="mail"  type="email" class="colores" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input [(ngModel)]="textPassword" id="pass" class="colores" placeholder="Password" type="password"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input [(ngModel)]="textPassword2" id="pass2" class="colores" placeholder="Repeat password" type="password"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input [(ngModel)]="textUser" id="user"  type="text" class="colores" placeholder="Username"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" (click)="saveregister()">Sign Up</ion-button>
      </ion-col>
    </ion-row>
</ion-card>
</ion-content>
