<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" mode="ios"></ion-back-button> 
    </ion-buttons>
    
    <ion-title mode="ios">EDIT SNEAKER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="carta">
  <ion-item lines="full">
    <ion-thumbnail (click)="OnClickImg()" class="img">
      <img class="img2" *ngIf="img_sneaker.url==''" src="../../assets/logo_sneakers.png">
      <img class="img2" *ngIf="img_sneaker.url!=''" src={{img_sneaker.url}}>
  </ion-thumbnail>
  </ion-item>

  <ion-item lines="full">
    <ion-textarea placeholder="Sneaker name" mode="ios" maxlength="50" [(ngModel)]="sneaker_name"></ion-textarea>
  </ion-item>

  <ion-item lines="full">
    <ion-textarea placeholder="Sneaker brand" mode="ios" maxlength="50" [(ngModel)]="sneaker_brand"></ion-textarea>
  </ion-item>

  <ion-item lines="full">
    <ion-textarea placeholder="Sneaker model" mode="ios" maxlength="100" [(ngModel)]="sneaker_model"></ion-textarea>
  </ion-item>

<ion-button (click)="onClickEditImage()">EDIT SNEAKER</ion-button>

</ion-card>
</ion-content>
