.carta {
    margin-top: 20%;
  }

.img {
    width: 200px;
    height: 200px;
    margin-left: 15%;
    margin-bottom: 10%;
    margin-top: 10%;
}

ion-button {
    display: block;
    margin-top: 10%;
}
  