<ion-header>
  <ion-toolbar color="primary">
    <ion-title>PROFILE</ion-title>
    <ion-chip (click)="goprofile()">
      <ion-avatar>
        <img src="{{imagen_perfil}}" />
      </ion-avatar>
      <ion-label>{{user}}</ion-label>
    </ion-chip>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img class="perfil" src={{imagen_perfil}} />
      <ion-card-title class="centrar" >{{user}}</ion-card-title><br />
      <ion-card-subtitle class="centrar" >{{mail}}</ion-card-subtitle><br />
    </ion-card-header>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4" (click)="ampliarfotoadmin(item)" *ngFor="let item of imagenes"><ion-img src="{{item.img.url}}"></ion-img></ion-col>
    </ion-row>
  </ion-grid>

</ion-card>

</ion-content>
