ion-row * {
    width: fit-content;
    float: left;
}

ion-col {
    width: 100vh !important;
    height: fit-content;
}

ion-img {
    height: 7em !important;
}

.centrar {
  text-align: center;
  margin-top: 10%;
}

ion-chip {
    background-color: white;
}

.perfil {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

