<ion-header>
  <ion-toolbar color="primary">
    <ion-title mode="ios">WARDROBE</ion-title>
    <ion-chip (click)="goprofile()">
      <ion-avatar>
        <img id="avatar" src="{{imagen_perfil}}" />
      </ion-avatar>
      <ion-label>{{nombre_usuario}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    WARDROBE SNEAKERS
  </ion-list-header>
    <ion-list>   
      <ion-item-sliding *ngFor="let item of sneaker">
        <ion-item-options side="end">
        <ion-item-option (click)="deletesneaker(item)" color="danger">DELETE</ion-item-option>
        <ion-item-option (click)="editsneaker(item)" color="primary">EDIT</ion-item-option>
      </ion-item-options>
        <ion-item (click)="ampliar_sneaker(item)" >
          <img slot="start" *ngIf="item.img_sneaker.url!=''" src={{item.img_sneaker.url}} >
          <img slot="start" *ngIf="item.img_sneaker.url==''" src="../../assets/logo_sneakers.png">
          <ion-label>
            <h2>{{item.nombre}}</h2>
            <h3>{{item.marca}}</h3>
            <p>{{item.modelo}}</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button (click)="OnClickAddSneaker()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-menu side="start" menuId="menu_izquierda" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú Principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="onClickIrPerfil()">Mi perfil</ion-item>
        <ion-item (click)="onClickCambioContrasenya()">Cambiar contraseña</ion-item>
        <ion-item (click)="onClickCerrarSesion()">Cerrar sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu> 

</ion-content>
