<ion-header>
  <ion-toolbar color="primary">
    <ion-title>HOME</ion-title>
    <ion-chip (click)="goprofile()">
      <ion-avatar>
        <img src="{{imagen_perfil}}" />
      </ion-avatar>
      <ion-label>{{nombre_usuario}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let follower of listFollowers" >
    <ion-card-header>
      <ion-card-title>{{follower.user}}</ion-card-title>
    </ion-card-header>
    <div *ngFor="let image of listImages">
      <ion-card-content *ngIf="image.id_usuario==follower.id" >
      <ion-img src={{image.img.url}}></ion-img><p>{{image.piedefoto}}</p>
    </ion-card-content>
  </div>
  </ion-card>

</ion-content>
