<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">PROFILE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    WARDROBE SNEAKERS
  </ion-list-header>
    <ion-list *ngFor="let item of sneaker">   
        <ion-item (click)="ampliar_sneaker(item)" >
          <img slot="start" *ngIf="item.img_sneaker.url!=''" src={{item.img_sneaker.url}} >
          <img slot="start" *ngIf="item.img_sneaker.url==''" src="../../assets/logo_sneakers.png">
          <ion-label>
            <h2>{{item.nombre}}</h2>
            <h3>{{item.marca}}</h3>
            <p>{{item.modelo}}</p>
          </ion-label>
        </ion-item>
  </ion-list>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button (click)="OnClickSendMail()">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
