<ion-header>
  <ion-toolbar color="primary">
    <ion-title mode="ios">UPLOAD</ion-title>
    <ion-chip (click)="goprofile()">
      <ion-avatar>
        <img src="{{imagen_perfil}}" />
      </ion-avatar>
      <ion-label>{{nombre_usuario}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="carta">
    <ion-item lines="full">
      <ion-thumbnail (click)="OnClickImg()" class="img">
        <img *ngIf="img.url==''" src="../../assets/logo_sneakers.png">
        <img *ngIf="img.url!=''" src={{img.url}}>
    </ion-thumbnail>
    </ion-item>

    <ion-item lines="full">
      <ion-textarea placeholder="Enter a caption" mode="ios" maxlength="150" [(ngModel)]="caption"></ion-textarea>
    </ion-item>
 
  <ion-button (click)="onClickAddImage()">UPLOAD IMAGE</ion-button>
</ion-card>

</ion-content>