ion-title {
    font-size: 14px;
}

ion-chip {
    background-color: white;
}

.carta {
    margin-top: 40%;
  }

.img {
    width: 200px;
    height: 150px;
    margin-left: 15%;
    margin-bottom: 10%;
    margin-top: 10%;
}

ion-button {
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
}
  