<ion-header >
  <ion-toolbar color="primary">
    <ion-title>SEARCH</ion-title>
    <ion-chip (click)="goprofile()">
      <ion-avatar>
        <img src="{{imagen_perfil}}" />
      </ion-avatar>
      <ion-label>{{nombre_usuario}}</ion-label>
    </ion-chip>
  </ion-toolbar>
  <ion-segment value="users" (ionChange)="onchangeSegment()">
    <ion-segment-button value="users" >
      <ion-label>Users</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sneakers" >
      <ion-label>Sneakers</ion-label>
    </ion-segment-button>
  </ion-segment>
    <ion-searchbar *ngIf="!cambio_segmento" placeholder="Search Users" type="text" (ionChange)="handleInput()" [debounce]="250" [(ngModel)]="buscar"></ion-searchbar>
    <ion-searchbar *ngIf="cambio_segmento" placeholder="Search Sneakers" type="text" (ionChange)="handleInput2()" [debounce]="250" [(ngModel)]="buscar2"></ion-searchbar>
</ion-header>



<ion-content fullscreen>

  <ion-list *ngIf="!cambio_segmento" id="lista">
    <div *ngFor="let item of followers"> 
      <ion-item (click)="enter_usuario(item)" *ngIf="item.id != usuario.id" >{{item.user}}</ion-item>
    </div>
  </ion-list>

  <ion-list *ngIf="cambio_segmento" id="lista2">
    <ion-item (click)="enter_sneaker(item2)" *ngFor="let item2 of sneakers">{{item2.nombre}}</ion-item>
  </ion-list>
  <ion-menu side="start" menuId="menu_izquierda" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú Principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="onClickIrPerfil()">Mi perfil</ion-item>
        <ion-item (click)="onClickCambioContrasenya()">Cambiar contraseña</ion-item>
        <ion-item (click)="onClickCerrarSesion()">Cerrar sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu> 

</ion-content>